* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #4cfe88;
  --gray-color: #dbdbdb;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ======================== 과제 1 ========================  */

.grid-container {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
  gap: 20px;
}

.grid-container .item {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.grid-container img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.grid-container .active,
.grid-container .inactive {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  margin-top: 53px;
  margin-right: 5px;
}

.grid-container .active {
  background-color: var(--green-color);
}

.grid-container .inactive {
  background-color: var(--gray-color);
}

/* ======================= 과제 2 ========================= */

.flex-container {
  display: flex;
  width: 336px;
  flex-wrap: wrap;
}

.flex-item {
  position: relative;
  margin: 10px;
}

.flex-item img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.flex-item .active,
.flex-item .inactive {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 1px;
  right: 1px;
}

.flex-item .active {
  background-color: var(--green-color);
}

.flex-item .inactive {
  background-color: var(--gray-color);
}
